
.jumbotron {
  background: url('../img/fon.jpg') top / cover;
  height: 38rem;
  border-radius: 0;
  color: #fff;
}
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  border-radius: 0;
}

ul.nav {
  line-height: 2rem;
}

.nav-link {
  text-transform: uppercase;
  transition: color .3s;
  font-family: 'Raleway', sans-serif;
  font-size: .9rem;
  font-weight: 700;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

  .jumbotron .container:first-child {
      margin-top: -2rem;
    }

  .jumbotron .container:last-child {
    max-width: 58rem;
    text-align: center;
    margin-top: 6rem;
  }

    .jumbotron .container .display-1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 4rem;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: auto;
    }

    .jumbotron .container .lead {
      font-family: 'Raleway', sans-serif;
      font-size: 1.4rem;
      margin-top: 1.5rem;
    }

    .jumbotron .container .btn {
      font-family: 'Raleway', sans-serif;
      font-size: .8rem;
      text-transform: uppercase;
      border: 0;
      border-radius: 0;
      background: rgb(230,70,70);
      margin-top: 2rem;
    }

.col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}

.row {
  margin: 0;
}
.my-row {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.display-2,
.my-row p {
  font-family: "Raleway", sans-serif;
  font-size: .85rem;
  margin-top: 1.8rem;
}

.display-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
}

.col-lg-3 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 350px;
}

.card-img {
  border-radius: 0;
  height: 100%;
  padding: 0;
  margin: 0;
}

.card-img-overlay {
  text-align: center;
  padding-top: 150px;
  opacity: 0;
  cursor: pointer;
  transition: opacity .4s, background .3s;
  width: 100%;
}

.card-img-overlay:hover {
  background: rgba(232, 69, 69, .9);
  opacity: 1
}

.card-title,
.card-text {
  font-family: "Raleway", sans-serif;
  font-size: .85rem;
}

.card-title {
  font-weight: 700;
  text-transform: uppercase;
}

footer .row:first-child {
  background-color: #3a3e64;
}

footer .row:last-child {
  background-color: #313454;
}

footer .container {
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: .8rem;
}

footer span,
footer p {
  color: rgba(255, 255, 255, .5);
}

footer p strong {
  color: rgb(255, 255, 255);
  font-weight: 400;
}

footer p strong.love {
  color: rgb(232, 69, 69);
}

.f_padding {
  display: block;
  padding-left: 4rem;
  padding-right: 4rem;
}
.social {
  display: flex;
  justify-content: center;
}
.social a {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 2px;
  background: url("../img/social.png") no-repeat -2px center;
}

.social a:nth-child(2) {
  background-position: -40px center;
}
.social a:nth-child(3) {
  background-position: -78px center;
}

.copyright {
  padding: 0;
  margin: 0;
}

@media (min-width: 574px) {
  .jumbotron .container:first-child {
    margin-top: -4rem;
  }
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700');
